<!-- <form>
  <mat-toolbar color = "primary" style="height:90px;">
    <span class = "gap">Welcome to Possible Aiirline</span>
    <span>Edit</span>
    <span class = "filler"></span>
    <mat-form-field>
      <mat-select placeholder = "My Account" 
         [(ngModel)] = "selectedValue" name = "userTypes">
         <mat-option *ngFor = "let usertype of userTypes" 
            [value] = "usertype.value">
            {{usertype.display}}
         </mat-option>
      </mat-select>
   </mat-form-field>
  </mat-toolbar>
  </form> -->
 
  <mat-toolbar color="primary" style="height:90px;padding-top: 20px;">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Welcome to Possible Airline!</h1>
      <span class="menu-spacer"></span>
      <span class = "filler"></span>
      <h1>{{name}}</h1>
      <button *ngIf="!isLoggedIn" mat-button data-toggle="modal" 
      (click)="signuporlogin()">Login/Signup</button>
    <!-- <mat-form-field>
        <button mat-button>Click me!</button>
      <mat-select placeholder = "My Account" 
         [(ngModel)] = "selectedValue" name = "userTypes">
         <mat-option *ngFor = "let usertype of userTypes" 
            [value] = "usertype.value">
            {{usertype.display}}
         </mat-option>
      </mat-select>
   </mat-form-field> -->
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container >
   <mat-sidenav #sidenav >
     <mat-nav-list *ngIf="isLoggedIn">
 
       <a mat-list-item [routerLink]="'/passenger-list'" (click)="sidenav.close()"> Passenger List </a>
       <a mat-list-item [routerLink]="'/add-passenger'" (click)="sidenav.close()"> Add Passenger </a>
       <a mat-list-item [routerLink]="'/logout'" (click)="sidenav.close()"> Logout </a>
     
 
     </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
     <div style="height: 88vh;">
 
       <router-outlet></router-outlet>
     </div>
   </mat-sidenav-content>
 </mat-sidenav-container>




 
 <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" 
      aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content" style="width: 80%;">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-md-center" role="tablist">
          <li class="nav-item" style="font-weight: bolder;font-size: 1.4em;">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
              Login</a>
          </li>
          <li class="nav-item" style="font-weight: bolder;font-size: 1.4em;">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
              Sign up</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body justify-content-md-center">
                <div class="container">
                    <form (ngSubmit)="login(f)" #f="ngForm">
                  <div class="form-group">
                    <input type="email"  id="email1" placeholder="Email" name="email1" ngModel class="form-control" #email1="ngModel"/>
                  </div>
                  <div class="form-group">
                    <input type="password" id="loginpassword"  class="form-control pwd" data-toggle="password"
                      placeholder="Password" name="loginpassword" ngModel  #loginpassword="ngModel" />
                  </div>
                  <div class="form-group" style="float: right;">
                  <a href="javascript:;"><u>Forgot your password?</u></a>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block" style="background-color: rgba(0, 145, 0, 0.966)" >Login</button>
                  </div>
                  
                  <div class="loginSeparator_3X-mB"><hr><div class="or_3koTd" style="font-weight: bold;">OR</div></div>
                  <div class="form-group">
                      <button type="button" class="btn btn-lg btn-block" style="background-color:rgb(223, 223, 223);">&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook fa-fw"
                          style="color: #3B5998;font-size: 1.2em;font-weight: bold"></i>&nbsp;&nbsp;Login with Facebook</button>
                      </div>
                      <div class="form-group">
                          <button type="button" class="btn btn-lg btn-block" style="background-color:rgb(223, 223, 223);"><i class="fab fa-google fa-fw"
                              style="color:  #dd4b39;font-size: 1.2em;font-weight: bold"></i>&nbsp;&nbsp;Login with Google</button>
                          </div>
                          </form>
                          </div>
            </div>
          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body justify-content-md-center">
              <div class="container">
                <form>
              <div class="form-group">
                <input type="email" class="form-control" id="email2" placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="password" id="loginpassword2" name="loginpassword2" class="form-control pwd" data-toggle="password"
                  placeholder="Create password" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control pwd" placeholder="Re enter password" />
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success btn-lg btn-block" style="background-color: rgba(0, 145, 0, 0.966)">Sign up</button>
              </div>
              
              <div class="loginSeparator_3X-mB"><hr><div class="or_3koTd" style="font-weight: bold;">OR</div></div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-block" style="background-color:rgb(223, 223, 223);">&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook fa-fw"
                    style="color: #3B5998;font-size: 1.2em;font-weight: bold"></i>&nbsp;&nbsp;Login with Facebook</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-block" style="background-color:rgb(223, 223, 223);"><i class="fab fa-google fa-fw"
                        style="color:  #dd4b39;font-size: 1.2em;font-weight: bold"></i>&nbsp;&nbsp;Login with Google</button>
                    </div>
                      </form>
                      </div>
              <!-- <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>