<form>
  <mat-toolbar color = "primary" style="height:90px;">
    <span class = "gap">Welcome to Possible Aiirline</span>
    
    <span class = "filler"></span>
    <mat-form-field>
      <mat-select placeholder = "My Account" 
         [(ngModel)] = "selectedValue" name = "userTypes">
         <mat-option *ngFor = "let usertype of userTypes" 
            [value] = "usertype.value">
            {{usertype.display}}
         </mat-option>
      </mat-select>
   </mat-form-field>
  </mat-toolbar>
  </form>
