<!-- 
 <form (ngSubmit)="addPassenger(f)" #f="ngForm">
<mat-card id="card"  style="text-align:center;">
  <mat-card-title>
		Passenger Form
	</mat-card-title>
  <mat-card-content>
   
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="Your name">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="email">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="passport">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Disablity">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Food">
            <mat-option value="veg">Veg</mat-option>
            <mat-option value="Non-veg">Non-Veg</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Ancilary Service">
            <mat-option value="veg">Veg</mat-option>
            <mat-option value="Non-veg">Non-Veg</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="Seat Number">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="isCheckedin">
            <mat-option value="Yes">yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="City">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="State">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <div class="example-container">
          <label>Infants: </label>
          <mat-radio-group>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-lg">
        <mat-form-field style="width: 50%;">
          <textarea matInput placeholder="Address"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </mat-card-content>
</mat-card>  
</form>
 -->

 <!doctype html>
<title>Example</title>
<style>
  .myForm {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 3px;
    padding: 1em;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .input-group {
   	display: flex;
  }
  .input-group > label {
    margin-right: 1em; 
    padding: .5em 0;
  }
  .myForm input,
  .myForm select {
    flex: 6; 
    padding: .5em;
    margin-bottom: 1em;
  }
  .myForm button {
   padding: 1em; 
    background: gray;
    color: white;
    border: 0;
  }
  .myForm fieldset {
   	border: 0; 
  }
  .taxi > label,
  .extras > label {
    display: block;
  }
</style>
<form class="myForm" (ngSubmit)="addPassenger(f)" #f="ngForm">

  <div class="row">
    <div class="column">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel class="form-control" #name="ngModel" required>
      </div>
      <div class="input-group">
        <label for="email">Email </label>
        <input type="email" id="email" name="email" ngModel class="form-control" #email="ngModel" required>
      </div>
      <div class="input-group">
        <label for="passport">Passport </label>
        <input type="text" id="passport" name="passport" ngModel class="form-control" #passport="ngModel" required>
      </div>
      <div class="input-group">
        <label for="dob">Date Of Birth</label>
        <input type="datetime-local" id="dob" name="dob" ngModel class="form-control" #dob="ngModel" required>
      </div>
      <div class="input-group">
        <label for="food">Food</label>
        <select id="food">
          <option value="" selected="selected">Select One</option>
          <option value="veg">Veg</option>
          <option value="nonveg">NonVeg</option>
          <option value="egg">Egg</option>
        </select>
      </div>
      <div class="input-group">
        <label for="disablity">Disability</label>
        <input type="text" id="disablity" list="disablitys">
        <datalist id="disablitys">
          <option value="Yes">
          <option value="No">
        </datalist>
      </div>
    </div>
    <div class="column">
      <fieldset class="checkedin">
        <legend>Is CheckedIn?</legend>
        <label> <input type="radio" id="yes" value="yes" name="radio" [(ngModel)]="radioData"> Yes </label>
        <label> <input type="radio" id="no" value="no" name="radio" [(ngModel)]="radioData"> No </label>
      </fieldset>

      <fieldset class="ancilary">
        <legend>Ancilary</legend>
        <div *ngFor="let cbItem of cbArr">
          <label>
            <input type="checkbox"
                   name="options"
                   value="{{cbItem}}"
                   [checked]="cbChecked.indexOf(cbItem) >= 0"
                   (change)="updateCheckedOptions(cbItem, $event)"/>
            {{cbItem}}
          </label>
        </div>
         </fieldset>
    </div>
  </div>
  
  <div class="row">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>