<!-- 
 <form (ngSubmit)="addPassenger(f)" #f="ngForm">
<mat-card id="card"  style="text-align:center;">
  <mat-card-title>
		Passenger Form
	</mat-card-title>
  <mat-card-content>
   
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="Your name">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="email">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="passport">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Disablity">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Food">
            <mat-option value="veg">Veg</mat-option>
            <mat-option value="Non-veg">Non-Veg</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="Ancilary Service">
            <mat-option value="veg">Veg</mat-option>
            <mat-option value="Non-veg">Non-Veg</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="Seat Number">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <mat-select placeholder="isCheckedin">
            <mat-option value="Yes">yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="City">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field>
          <input matInput placeholder="State">
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <div class="example-container">
          <label>Infants: </label>
          <mat-radio-group>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-lg">
        <mat-form-field style="width: 50%;">
          <textarea matInput placeholder="Address"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </mat-card-content>
</mat-card>  
</form>
 -->



<!-- <form class="myForm" (ngSubmit)="addPassenger(f)" #f="ngForm">
  <div class="row">
    <div class="column">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel class="form-control" #name="ngModel" required>
      </div>
      <div class="input-group">
        <label for="email">Email </label>
        <input type="email" id="email" name="email" ngModel class="form-control" #email="ngModel" required>
      </div>
      <div class="input-group">
        <label for="passport">Passport </label>
        <input type="text" id="passport" name="passport" ngModel class="form-control" #passport="ngModel" required>
      </div>
      <div class="input-group">
        <label for="dob">Date Of Birth</label>
        <input type="date" id="dob" name="dob" ngModel class="form-control" #dob="ngModel" required>
      </div>
      <div class="input-group">
        <label for="food">Food</label>
        <select id="food">
          <option value="" selected="selected">Select One</option>
          <option value="veg">Veg</option>
          <option value="nonveg">NonVeg</option>
          <option value="egg">Egg</option>
        </select>
      </div>
      <div class="input-group">
        <label for="disablity">Disability</label>
        <input type="text" id="disablity" list="disablitys">
        <datalist id="disablitys">
          <option value="Yes">
          <option value="No">
        </datalist>
      </div>
    </div>
    <div class="column">
      <fieldset class="checkedin">
        <legend>Is CheckedIn?</legend>
        <label> <input type="radio" id="yes" value="yes" name="radio" [(ngModel)]="radioData"> Yes </label>
        <label> <input type="radio" id="no" value="no" name="radio" [(ngModel)]="radioData"> No </label>
      </fieldset>

      <fieldset class="ancilary">
        <legend>Ancilary</legend>
        <div *ngFor="let cbItem of cbArr">
          <label>
            <input type="checkbox"
                   name="options"
                   value="{{cbItem}}"
                   [checked]="cbChecked.indexOf(cbItem) >= 0"
                   (change)="updateCheckedOptions(cbItem, $event)"/>
            {{cbItem}}
          </label>
        </div>
         </fieldset>
    </div>
  </div>
  
  <div class="row">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form> -->


<div class="card">
  <h5 class="card-header" style="text-align: center;" *ngIf="!isFromEdit">Create a new Passenger</h5>

  <h5 class="card-header" style="text-align: center;" *ngIf="isFromEdit">Edit Passenger</h5>

  <div class="card-body">
    <form class="myForm" (ngSubmit)="addPassenger(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control" placeholder="Full name"
              required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control"
              placeholder="Your E-mail" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-passport"></i> </span>
            </div>
            <input type="text" id="passport" name="passport" placeholder="Passport Number" [(ngModel)]="passport"
              class="form-control" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i> </span>
            </div>

            <input type="date" id="dob" name="dob" placeholder="Date of Birth" [ngModel]="dob| date:'yyyy-MM-dd'"
              class="form-control" (ngModelChange)="dob = $event" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-utensils"></i> </span>
            </div>
            <select id="food" class="form-control" name="food" [(ngModel)]="selectedfood" required>
              <option *ngFor="let food of foods" [ngValue]="food" [selected]="food=='Veg'"> {{food}} </option>
            </select>

          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-wheelchair"></i> </span>
            </div>
            <input type="text" id="disablity" list="disablitys" placeholder="Are you person with disablity?">
            <datalist id="disablitys">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isAdminLoggedIn">
        <div class="col-md-4">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-passport"></i> </span>
            </div>
            <input type="text" id="infants" name="infants" placeholder="Infants count" [(ngModel)]="infants"
              class="form-control" required>
          </div>
        </div>
        <div class="col-md-2">

          <a  (click)="seatAllocation()"> Seat Allocation</a>

        </div>
        <div class="col-md-2">
          <input type="text" id="seat" name="seat" placeholder="Seat No" [(ngModel)]="seatno"
            class="form-control" disabled>
        </div>
      </div>
      <div class="row" *ngIf="isAdminLoggedIn">
        <div class="col-md-8">
          <div class="form-group input-group">

            <textarea rows="4" cols="50" id="address" name="address" placeholder="Address" [(ngModel)]="address"
              class="form-control" required></textarea>
          </div>

        </div>

      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="form-group input-group">
            <fieldset class="checkedin">
              <legend>Is CheckedIn?</legend>
              <label> <input type="radio" id="yes" value="yes" name="radio" [(ngModel)]="radioData"> Yes </label>
              <label> <input type="radio" id="no" value="no" name="radio" [(ngModel)]="radioData"> No </label>
            </fieldset>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group input-group">
            <fieldset class="ancilary">
              <legend>Ancilary</legend>
              <div *ngFor="let cbItem of cbArr">
                <label>
                  <input type="checkbox" name="options" value="{{cbItem}}" [checked]="cbChecked.indexOf(cbItem) >= 0"
                    (change)="updateCheckedOptions(cbItem, $event)" />
                  {{cbItem}}
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>

  </div>
</div>