<br>
<div class="container" *ngIf="dataSource">
  <div class="row">
    <div class="col-md-10">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for flight"/>
    </mat-form-field>
  </div>
  <!-- <div class="col-md-2">
    <button mat-raised-button style="background-color: rgb(0, 105, 16)" routerLink="/add-passenger"> 
        <i class="fas fa-user-plus" style="color: white"> Add New Passenger</i></button>
            </div> -->
  </div>
    
  </div>
  
  <div class="container" *ngIf="dataSource">
    <mat-table [dataSource]="dataSource" matSort>
  
     <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;"> {{row.id}} </mat-cell>
      </ng-container>
      
      <!-- ID Column
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container> -->
  
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <!-- email Column -->
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
      </ng-container>
   <!-- email Column -->
   <ng-container matColumnDef="passengerno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. Of Passengers </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.passengerNo}} </mat-cell>
    </ng-container>
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
        <mat-cell *matCellDef="let row;let i = index;"> 
          <button mat-raised-button color="" (click)="onDetailsClicked(row,i)">
            <!-- Details -->
            <i class="fas fa-info-circle" style="color: blue;font-size: 1.4rem;"></i>
            <!-- <i class="fas fa-portrait"></i> -->
        </button>  </mat-cell>
      </ng-container>
      <ng-container matColumnDef="passengerList">
        <mat-header-cell *matHeaderCellDef>Passenger List</mat-header-cell>
        <mat-cell *matCellDef="let row;let i = index;"> 
          <button mat-raised-button color="" (click)="onPassengerListClicked(row,i)">
            <!-- Details -->
            <i class="fas fa-info-circle" style="color: green;font-size: 1.4rem;"></i>
            <!-- <i class="fas fa-portrait"></i> -->
        </button>  </mat-cell>
      </ng-container>

        
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  

  

  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->