<div mat-dialog-content>
  <div class="row" *ngIf="!ancilaryService">
    <div class="col-md-3">
      <img class="img-left" src="assets/icon1.png"
        style="width: 10rem;height: 12rem;padding-right: 1em;padding-top: 3em;">
    </div>

    <div class="col-md-9">
      <div class="content-heading">
        <div class="row">
          <div class="col-md-10">
            <h3>{{data[1].name}}</h3>
          </div>
          <button mat-button (click)="onNoClick()"><b>Close</b></button>
        </div>

      </div>

      <hr style="font-weight: bolder;">
      <p><i class="fa fa-envelope"></i> {{data[1].email}} </p>
      <p> <i class="fas fa-passport"></i> {{data[1].passport}} </p>
      <p><i class="fas fa-calendar-alt"></i> {{data[1].dob}} </p>
      <p> <i class="fas fa-utensils"></i> {{data[1].food}}</p>
      <p><i class="fas fa-map-marked-alt"></i> {{data[1].address}}</p>
      <p><i class="fas fa-wheelchair"></i> {{data[1].disability}}</p>
      <p><i class="fas fa-baby-carriage"></i> {{data[1].infants}}</p>
    </div>
  </div>


  <div class="row" *ngIf="ancilaryService">
    <div class="col-md-4">
      <p>Baggage :</p>
    </div>
    <div class="col-md-8">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-luggage-cart"></i> </span>
        </div>
        
        <select name="bag" [(ngModel)]="bag" (change)="onBagChange($event.target.value)">
          <option value="0" disabled selected>Select your option</option>
          <option *ngFor="let baggage of baggeges" [value]="baggage"> {{ baggage }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="ancilaryService">
    <div class="col-md-4">
      <p>Wheel Chair :</p>
    </div>
    <div class="col-md-8">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-wheelchair"></i> </span>
        </div>
        <select name="chair" [(ngModel)]="chair" (change)="onchairChange($event.target.value)">
          <option value="0" disabled selected>Select your option</option>
          <option *ngFor="let chair of chairs" [value]="chair"> {{ chair }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="ancilaryService">
    <div class="col-md-4">
      <p>Shopping:</p>
    </div>
    <div class="col-md-8">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-suitcase-rolling"></i> </span>
        </div>
        <select name="shopping" [(ngModel)]="shopping" (change)="onshoppingChange($event.target.value)">
          <option value="0" disabled selected>Select your option</option>
          <option *ngFor="let shopping of shoppings" [value]="shopping"> {{ shopping }}</option>
        </select>
      </div>
    </div>
  </div>

  
  <div style="text-align: center;">
    <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
  </div>
</div>


<!-- <div style="text-align: center;">
    <button mat-button (click)="onNoClick()" >Ok</button>
  </div> -->