.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }