<div mat-dialog-content>

  <!-- <p>Name :{{data.name}}</p>
    <p>Email :{{data.email}}</p>
    <p>Passport :{{data.passport}}</p>
    <p>Address :{{data.address}}</p>
    <p>DOB :{{data.dob}}</p>
    <p>Disability :{{data.disability}}</p>
    <p>Food :{{data.food}}</p>
    <p>Seatnumber :{{data.seatnumber}}</p>
    <p>ischeckedin :{{data.ischeckedin}}</p>
    <p>Infants :{{data.infants}}</p>
    <p>Aancilary Services :{{data.ancilarservices}}</p> -->

  <div class="row" *ngIf="data[0]==0">
    <div class="col-md-3">
      <img class="img-left" src="assets/icon1.png"
        style="width: 10rem;height: 12rem;padding-right: 1em;padding-top: 3em;">
    </div>

    <div class="col-md-9">
      <div class="content-heading">
        <div class="row">
          <div class="col-md-10">
            <h3>{{data.name}}</h3>
          </div>
          <button mat-button (click)="onNoClick()"><b>Close</b></button>
        </div>

      </div>

      <hr style="font-weight: bolder;">
      <!-- <p><i class="fa fa-envelope"></i> {{data.id}} </p> -->
      <p><i class="fas fa-calendar-alt"></i> DepatureTime: {{data.time}} </p>
      <p><i class="fas fa-calendar-alt"></i> ArrivalTime: {{data.time}} </p>
      <p> <i class="fas fa-passport"></i>Total No.Of Passengers: {{data.passengerNo}} </p>
      <p><i class="fas fa-calendar-alt"></i>Total No.Of Passengers ChcekedIn: {{noOfChckedIn}} </p>
      <p><i class="fas fa-calendar-alt"></i>Total No.Of Passengers Wheelechair: {{noOfWheeleChair}} </p>
      <p><i class="fas fa-calendar-alt"></i>Total No.Of Passengers Infants: {{noInfants}} </p>

    </div>
  </div>
  <div style="text-align: center;" *ngIf="data[0]==0">
    <button type="submit" class="btn btn-success">Ok</button>
  </div>
</div>


<div class="row" *ngIf="data[0]==1">
  <div class="col-md-4">
    <mat-checkbox class="example-margin" [(ngModel)]="Baggage">Baggage</mat-checkbox>
  </div>
  <div class="col-md-4">
    <mat-checkbox class="example-margin" [(ngModel)]="Wheelchair">Wheelchair</mat-checkbox>
  </div>
  <div class="col-md-4">
    <mat-checkbox class="example-margin" [(ngModel)]="Shopping">Shopping</mat-checkbox>
  </div>
</div>
<div style="text-align: center;" *ngIf="data[0]==1">
  <button type="submit" class="btn btn-success">Submit</button>
</div>


<div class="row" *ngIf="data[0]==2">
    <div class="col-md-4">
      <mat-checkbox class="example-margin" [(ngModel)]="Veg">Veg</mat-checkbox>
    </div>
    <div class="col-md-4">
      <mat-checkbox class="example-margin" [(ngModel)]="NonVeg">NonVeg</mat-checkbox>
    </div>
    <div class="col-md-4">
      <mat-checkbox class="example-margin" [(ngModel)]="CustomisedMeal">CustomisedMeal</mat-checkbox>
    </div>
  </div>
  <div style="text-align: center;" *ngIf="data[0]==2">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
  
  <div class="row" *ngIf="data[0]==3">
      <div class="col-md-4">
        <mat-checkbox class="example-margin" [(ngModel)]="Perfume">Perfume</mat-checkbox>
      </div>
      <div class="col-md-4">
        <mat-checkbox class="example-margin" [(ngModel)]="CardHolder">CardHolder</mat-checkbox>
      </div>
      <div class="col-md-4">
        <mat-checkbox class="example-margin" [(ngModel)]="PhoneStand">PhoneStand</mat-checkbox>
      </div>
    </div>
    <div style="text-align: center;" *ngIf="data[0]==3">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>

<!-- <div style="text-align: center;">
    <button mat-button (click)="onNoClick()" >Ok</button>
  </div> -->