.or_3koTd {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: #fff;
    padding: 8px;
    color: #4d5d69;
    font-size: 14px;
}
.loginSeparator_3X-mB {
    margin: 35px 0;
    position: relative;
}
 